*.o
*.exe
/build/
/bin/
.vscode/
.DS_Store

# Ignore the full dataset inside the src folder
src/data/full_dataset/

# Alternatively, a more global approach:
# Ignore any folder named full_dataset regardless of where it is
**/full_dataset/

# Ensure samples are always included
!src/data/samples/
!src/data/samples/**